<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWzJ1-32cDdS8WbBRfvJI83F9Qo29gYEs</string>
	<key>GCM_SENDER_ID</key>
	<string>962698179616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humidifier.HumiAir</string>
	<key>PROJECT_ID</key>
	<string>humiair-humidifier</string>
	<key>STORAGE_BUCKET</key>
	<string>humiair-humidifier.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962698179616:ios:04d4979383455541887845</string>
</dict>
</plist>